<footer class="footer-container">
    <div class="footer-hijos">
      <h7 class="footer-h7">CONTACTO</h7>
      <a class="footer-a" href="mailto:ventas@phonestore.com.ar" target="_blank">ventas@phonestore.com.ar</a>
    </div>
    <div class="footer-hijos">
      <h7>TERMINOS</h7>
      <a href="https://imgv2-2-f.scribdassets.com/img/document/241730362/original/36765cac31/1698250969?v=1" target="_blank">Politicas de privacidad</a>
    </div>
    <div class="footer-hijos">
      <h7>NOS ENCONTRAMOS EN</h7>
      <a href="https://maps.app.goo.gl/ZMkbHJXQQ2BkYhtg7" target="_blank">Av.Los Aromos 2525</a>
    </div>
    <div class="footer-hijos">
      <a href="about" target="_blank">QUIENES SOMOS</a>
      <a href="../../views/consultas.ejs " target="_blank">CONSULTAS</a>
    </div>
  </footer>