<footer class="footer-container">
    <div class="footer-hijos">
      <h7 class="footer-h7">CONTACTO</h7>
      <a class="footer-a" href="">ventas@phonestore.com.ar</a>
    </div>
    <div class="footer-hijos">
      <h7>TERMINOS</h7>
      <a href="">Politicas de privacidad</a>
    </div>
    <div class="footer-hijos">
      <h7>NOS ENCONTRAMOS EN</h7>
      <p>Av.Los Aromos 2525</p>
    </div>
    <div class="footer-hijos">
      <a href="">QUIENES SOMOS</a>
      <a href="">CONSULTAS</a>
    </div>
  </footer>