<header class="header">
  <div>
    <a class="icono_header" href="/"
      ><img src="/images/imageHome/icono.jpg"
    /></a>
    <section class="buscador">
      <form action="">
        <input type="text" placeholder="Buscar" />
        <i class="fa-solid fa-magnifying-glass"></i>
        <a href="/products/productCart"
          ><i class="fa-solid fa-cart-shopping"></i
        ></a>
      </form>
    </section>
  </div>
  <section class="links">
    <a href="/products/productDetail">Samsung</a>
    <a href="/products/productDetail">Motorola</a>
    <a href="/products/productDetail">LG</a>
    <a href="/products/productDetail">Xiaomi</a>
    <a href="/products/productDetail">Iphone</a>
    <a href="/users/register">Creá tu cuenta </a>
    <% if(locals.usuario){%>
      <p><%= usuario.name %> </p>
    <% }else{ %>
    <a href="/users/login">Ingresá </a>
    <% } %>
  </section>
</header>
