<header class="header">
    <div>
      <a class="icono_header" href="/"><img src="/images/imageHome/icono.jpg"></a>
            <section class="buscador">
              <form action="">
                <input type="text" placeholder="Buscar" >
                <i class="fa-solid fa-magnifying-glass"></i>
                <a href="/products/productCart"><i class="fa-solid fa-cart-shopping"></i></a>
              </form>
            </section>
    </div>
            <section class="links">
                <a href="/">Samsung</a>
                <a href="/">Motorola</a>
                <a href="/">LG</a>
                <a href="/">Xiaomi</a>
                <a href="/">Iphone</a>
                
                <% if(locals.usuario != undefined){%>
                  <a href="/users/profile/<%= usuario.id %>"><%= usuario.nombre %>  </a>
                  <a  href="/users/logout"> <i class="fas fa-sign-out-alt" style="font-size: 30px;"></i></a>
                  <% }else{ %>
                    <a href="/users/register" >Creá tu cuenta </a>
                    <a href="/users/login">Ingresá </a>
             <%}%>
            </section>
           
</header>