<header class="header">
    <div>
        <img src="\images\icono.jpg" > 
        <h1>PHONESTORE</h1>
            <section class="buscador">
              <form action="">
                <input type="text" placeholder="Buscar" >
                <i class="fa-solid fa-magnifying-glass"></i>
              </form>
            </section>
    </div>
            <section class="links">
                <a href="/productDetail">Samsung</a>
                <a href="/productDetail">Motorola</a>
                <a href="/productDetail">LG</a>
                <a href="/productDetail">Xiaomi</a>
                <a href="/productDetail">Iphone</a>
                <a href="/register">Creá tu cuenta </a>
                <a href="/login">Ingresá </a>
               
            </section>
           
</header>