<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" type="text/css" href="css/footer.css">

    <title>PHONESTORE</title>
   
   
</head>
<body>




  <footer class="footer-container">
    <div class="footer-hijos">
      <h7 class="footer-h7">CONTACTO</h7>
      <a class="footer-a" href="">ventas@phonestore.com.ar</a>
    </div>
    <div class="footer-hijos">
      <h7>TERMINOS</h7>
      <a href="">Politicas de privacidad</a>
    </div>
    <div class="footer-hijos">
      <h7>NOS ENCONTRAMOS EN</h7>
      <p>Av.Los Aromos 2525</p>
    </div>
    <div class="footer-hijos">
      <h7>QUIENES SOMOS</h7>
      <a href="">CONSULTAS</a>
    </div>
  </footer>
</body>
</html>