<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Phonestore</title>
    <link rel="stylesheet" href="css/styles.css">
    <script
      src="https://kit.fontawesome.com/887a835504.js"crossorigin="anonymous" ></script>
    
  </head>
  <body>
    <header class="header">
      <div>
          <img src="/images/icono.jpg" > 
          <h1>PHONESTORE</h1>
              <section class="buscador">
                <form action="">
                  <input type="text" placeholder="Buscar" >
                  <i class="fa-solid fa-magnifying-glass"></i>
                </form>
              </section>
      </div>
              <section class="links">
                  <a href="">Samsung</a>
                  <a href="">Motorola</a>
                  <a href="">LG</a>
                  <a href="">Xiaomi</a>
                  <a href="">Iphone</a>
                  <a href="/Registrarse">Creá tu cuenta </a>
                  <a href="/Ingresar">Ingresá </a>
                 
              </section>
             
  </header>
    <div class="carrousel">
      <div class="conteCarrousel">
        <div class="itemCarrousel" id="itemCarrousel-1">
          <div class="itemCarrouselTarjeta">
            <img
              src="./imagenes/foto1.png"
              alt="item-1-Carrousel"
              class="imagen-pequena"
            />
          </div>
          <div class="itemCarrouselArrows">
            <a href="#itemCarrousel-3">
              <i class="fas fa-chevron-left"></i>
            </a>
            <a href="#itemCarrousel-2">
              <i class="fas fa-chevron-right"></i>
            </a>
          </div>
        </div>
        <div class="itemCarrousel" id="itemCarrousel-2">
          <div class="itemCarrouselTarjeta">
            <img
              src="./imagenes/banner.webp"
              alt="item-2-Carrousel"
              class="imagen-medio"
            />
          </div>
          <div class="itemCarrouselArrows">
            <a href="#itemCarrousel-1">
              <i class="fas fa-chevron-left"></i>
            </a>
            <a href="#itemCarrousel-3">
              <i class="fas fa-chevron-right"></i>
            </a>
          </div>
        </div>
        <div class="itemCarrousel" id="itemCarrousel-3">
          <div class="itemCarrouselTarjeta">
            <img
              src="./imagenes/banner2.jpg"
              alt="item-2-Carrousel"
              class="imagen-grande"
            />
          </div>
          <div class="itemCarrouselArrows">
            <a href="#itemCarrousel-2">
              <i class="fas fa-chevron-left"></i>
            </a>
            <a href="#itemCarrousel-1">
              <i class="fas fa-chevron-right"></i>
            </a>
          </div>
        </div>
      </div>
      <div class="conteCarrouselController">
        <a href="#itemCarrousel-1">•</a>
        <a href="#itemCarrousel-2">•</a>
        <a href="#itemCarrousel-3">•</a>
      </div>
    </div>

    <section class="banner">
      <div class="envio-gratis">
        <img src="./imagenes/camion.webp" alt="Camión de Envío" />
        <p>Envíos Gratis</p>
      </div>

      <div class="garantia">
        <img src="./imagenes/garantia.png" alt="Símbolo de Garantía" />
        <p>Garantía 12 meses</p>
      </div>

      <div class="contacto">
        <img src="./imagenes/contactanos.png" alt="Camión de Envío" />
        <p>
          Contactenos<br />
          0800-123-1234
        </p>
      </div>
    </section>

    <section class="home">
      <div class="contenedor-cards">
        <div class="card-item">
          <div class="card-img">
            <img src="/imagenes/iphone.jpg" alt="" />
          </div>
          <div class="info">
            <p>IPHONE</p>
            <p>$120.000</p>

            <button>3 Cuotas sin interes</button>
          </div>
        </div>

        <div class="card-item">
          <div class="card-img">
            <img src="/imagenes/lg.webp" alt="" />
          </div>

          <div class="info">
            <p>LG</p>
            <p>$90.000</p>

            <button>3 Cuotas sin interes</button>
          </div>
        </div>

        <div class="card-item">
          <div class="card-img">
            <img src="/imagenes/motorola2.png" alt="" />
          </div>
          <div class="info">
            <p>MOTOROLA</p>
            <p>$100.000</p>

            <button>3 Cuotas sin interes</button>
          </div>
        </div>

        <div class="card-item">
          <div class="card-img">
            <img src="/imagenes/xiaomi.webp" alt="" />
          </div>
          <div class="info">
            <p>XIOMI</p>
            <p>$50000</p>

            <button>3 Cuotas sin interes</button>
          </div>
        </div>

        <div class="card-item">
          <div class="card-img">
            <img src="/imagenes/samsung.jpg" alt="" />
          </div>
          <div class="info">
            <p>SAMSUNG</p>
            <p>$120000</p>

            <button>3 Cuotas sin interes</button>
          </div>
        </div>

        <div class="card-item">
          <div class="card-img">
            <a href=""><img src="/imagenes/tcl.jpg" alt="" /></a>
          </div>
          <div class="info">
            <p>TCL</p>
            <p>$80.000</p>

            <button>3 Cuotas sin interes</button>
          </div>
        </div>
      </div>
    </section>

    <footer>
      <a href="https://mail.google.com/" target="_blank"
        >CONTACTO ventas@phonestore.com.ar</a
      >
      <br />
      <a href="terminos-y-condiciones.html"
        >Políticas de privacidad <br />
        Términos y condiciones</a
      >
      <br />
      <a href="https://www.google.com/maps/" target="_blank"
        >NOS ENCONTRAMOS EN Av.Los Aromos 2525</a
      >
      <br />
      <a href="quienes-somos.html">Quiénes Somos</a>
    </footer>
  </body>
</html>
