<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Iniciar Sesión</title>
    <script
      src="https://kit.fontawesome.com/a3ad730a3f.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="../public/css/login.css" />
  </head>
  <body>
    <div class="login-container">
      <i class="fa-solid fa-bars"></i>
      <img src="../public/img/login.png" alt="imagen login" />
      <h3>Bienvenid@</h3>
      <form>
        <div class="form-group">
          <label for="email">Email</label>
          <input
            type="email"
            id="email"
            name="email"
            placeholder="Ingresa tu email"
            required
          />
        </div>
        <div class="form-group">
          <label for="password">Contraseña</label>
          <div class="password-container">
            <input
              type="password"
              id="password"
              name="password"
              placeholder="Ingresa tu contraseña"
              required
            />
            <i class="fa-solid fa-eye eye-icon"></i>
          </div>
        </div>
        <div class="form-group">
          <a href="#">¿Has olvidado tu contraseña?</a>
        </div>
        <button type="submit">Iniciar sesión</button>
      </form>
      <h6>O inicia sesión con</h6>
      <div class="social-buttons">
        <button>Google</button><i class="fa-brands fa-google"></i>
        <button>Facebook</button><i class="fa-brands fa-facebook"></i>
      </div>
    </div>
  </body>
</html>
