<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PHONESTORE</title>
    <script src="https://kit.fontawesome.com/02b2ba4a5f.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body class="ordenar_body">
  

  <header class="header">
    <div>
        <a class="icono_header" href="/" ><img src="/images/carrito_img/icono.jpg"></a> 
        <h1>PHONESTORE</h1>
            <section class="buscador">
              <form action="">
                <input type="text" placeholder="Buscar">
                <i class="fa-solid fa-magnifying-glass"></i>
              </form>
            </section>
    </div>
            <section class="links">
                <a href="">Samsung</a>
                <a href="">Motorola</a>
                <a href="">LG</a>
                <a href="">Xiaomi</a>
                <a href="">Iphone</a>
                <a href="/Register">Creá tu cuenta </a>
                <a href="/login">Ingresá </a>
               
            </section>
           
</header>
   
   <main class="fondo">
      <div class="titulo_marca_modelo titulo_desktop">
          
              <h3 >SAMSUNG GALAXY S20 FE 5G</h3>
              <h4>SM-G781VLBLARO</h4>
       
      </div>
    
      <article class="celular_frontal desktop_celular_frontal">
        
        <img src="/images/productDetail_img/galaxy-s20-fe-5g-frente.svg" alt="vista frontal" class="dimensionar_imagen_celu_principal">
      
      </article>
   
      <article class="caja_imagen_celu_frente_dorso_lateral desktop_celu_frente_dorso_lateral">
        <img src="/images/productDetail_img/galaxy-s20-fe-5g-frente-min.svg" alt="vista frontal">
        <img src="/images/productDetail_img/galaxy-s20-fe-5g-dorso.svg" alt="vista dorsal">  
        <img src="/images/productDetail_img/galaxy-s20-fe-5g-lateral.svg" alt="vista lateral">
      </article>
      
      <div class="formulario_opcion_color">
        
        <h5 class="texto_color">COLOR</h5>
        
        <form action="" method="get"></form>
        <input type="radio" name="opcion color" class="circulo_tamaño circulo_purpura"><input type="radio" name="opcion color" class="circulo_tamaño circulo_negro">
      
      </div>

        <snap class="aumentar_tamaño_descripcion_del_equipo desktop_posicion_inferior_descripcion_h5">
             <h5 class="descripcion_del_equipo desktop_descripcion_h5">Samsung Galaxy S20FE,  es parte de la familia Galaxy, gran diseño, camara frontal excelente con 32mpx, y su procesador SNAPDRAGON© 
            potente, para jugar, navegar, disfrutar de todo el entretenimiento</h5>
        </snap>
    
        <snap class="snap_h6 desktop_snap_h6">
             <h6 class="caracteristicas desktop_caracteristicas">ALMACENAMIENTO 128GB</h6>
             <h6 class="caracteristicas desktop_caracteristicas">PROCESADOR OCTACORE SNAPDRAGON 865</h6>
             <h6 class="caracteristicas desktop_caracteristicas">PANTALLA 6.5” FHD</h6>
             <h6 class="caracteristicas desktop_caracteristicas">CAMARA FRONTAL 32MPX</h6>
        </snap>

      <div class="separar_centrar_boton_submit desktop_botones_submit">
        <form action="" method="get"></form>
        <button type="submit" class="boton_comprar">COMPRAR</BUtton>
        
        <form action="" method="get"></form>
        <a href="/productCart"><button type="submit" class="boton_agregar">AGREGAR AL CARRITO</BUtton></a>
      </div>
   
   </main>

   <footer class="footer-container">
    <div class="footer-hijos">
      <h7 class="footer-h7">CONTACTO</h7>
      <a class="footer-a" href="">ventas@phonestore.com.ar</a>
    </div>
    <div class="footer-hijos">
      <h7>TERMINOS</h7>
      <a href="">Politicas de privacidad</a>
    </div>
    <div class="footer-hijos">
      <h7>NOS ENCONTRAMOS EN</h7>
      <p>Av.Los Aromos 2525</p>
    </div>
    <div class="footer-hijos">
      <a href="">QUIENES SOMOS</a>
      <a href="">CONSULTAS</a>
    </div>
  </footer>

</body>
</html>
