<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PHONESTORE</title>
    <script src="https://kit.fontawesome.com/02b2ba4a5f.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
   
   <main class="fondo">
      <div>
         <snap class="titulo_marca_modelo">
              <h3>SAMSUNG GALAXY S20 FE 5G</h3>
         </snap>
             
         
      </div>
    
      <article class="celular_frontal">
        <img src="/images/productDetail_img/galaxy-s20-fe-5g-frente.svg" alt="vista frontal" class="dimensionar_imagen_celu_principal">
      </article>
   
      <article class="imagen_celu_frente_dorso_lateral">
        <img src="/images/productDetail_img/galaxy-s20-fe-5g-frente-min.svg" alt="vista frontal">
        <img src="/images/productDetail_img/galaxy-s20-fe-5g-dorso.svg" alt="vista dorsal">  
        <img src="/images/productDetail_img/galaxy-s20-fe-5g-lateral.svg" alt="vista lateral">
      </article>
      
      <div class="formulario_opcion_color">
        <h5 class="texto_color">COLOR</h5>
        <form action="" method="get"></form>
        <input type="radio" name="opcion color" class="circulo1_tamaño_color"><input type="radio" name="opcion color">
      </div>

        <snap>
             <h5>Samsung Galaxy S20FE,  es parte de la familia Galaxy, gran diseño, camara frontal excelente con 32mpx, y su procesador SNAPDRAGON© 
            potente, para jugar, navegar, disfrutar de todo el entretenimiento</h5>
        </snap>
    
        <snap>
             <h6>ALMACENAMIENTO 128GB</h6>
        </snap>

        <snap>
             <h6>PROCESADOR OCTACORE SNAPDRAGON 865</h6>
        </snap>
    
        <snap>
             <h6>PANTALLA 6.5” FHD</h6>
        </snap>

        <snap>
             <h6>CAMARA FRONTAL 32MPX</h6>
        </snap>

      <div>
        <form action="" method="get"></form>
        <button type="submit">COMPRAR</BUtton>
      </div>

      <div>
        <form action="" method="get"></form>
        <button type="submit">AGREGAR AL CARRITO</BUtton>
      </div>
   
   </main>


</body>
</html>
