*{
    padding: 0;
    margin: 0; 
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
} 

/*header mobile*/
header{
    background-color: #16191c;
}
header section.buscador{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 2%;
}
.header img{
 width: 5%;
}
.header div{
    display: flex;
    justify-content: center;
}
header section{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
header section.links a{
    color: white;
    padding: 1%;
    text-decoration: none;
    font-size: 60%;
}  

/*home mobile*/
.carrito_body{
    width: 100%;
}
main{
   padding: 2%; 
}
section.mis_productos{
    background-color: #16191c;
    margin: 4% auto 0% auto;
    border-radius: 20px;
    
}

section.bloque_izq section{
    display: flex;
    flex-direction: column;
    background-color: #16191c;
    margin: 4% auto 0% auto;
    border-radius: 20px;
    width: 100%;
    
}
section.compra{
    background-color: #16191c;
    margin: 4% auto 0% auto;
    border-radius: 20px;  
    width: 100%;  
}

.mis_productos h3{

    color: white;
    text-align: center;
}
.mis_productos article{
  padding: 4% 4% 4% 4%;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.mis_productos article img{
    background-color: white;
    width: 10%;
    height: 10%;
    border-radius: 15% ;
    
}
.mis_productos .fa-square-caret-down{
    color: white;
    padding-top: 6%;
}
div.subtitulos{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 2%;; 
    background-color: #1e2126;
    margin-top: 3%;
    padding:2% ;
    border-radius: 30px;
    color: white;
    padding-left:5%;    
}
 h3{
    color: white;
    text-align: center; 
}
.resumen_titulo{
    margin-top:2% ;
}

.codigo_descuento{
    display: flex;
    flex-direction: row;
}
.codigo_descuento input{
    margin-left: 5% ;
    width: 17%;
    padding: 0;
    color: white;
    background-color: #1e2126;
    border: #1e2126;
    
}

.botones button{
    background-color: #1e2126;
    border-radius: 30px;
    padding: 3%;
    color: white;
    margin: 10%;
    width:25%;
    border: #1e2126; 
} 
button.boton_eliminar{
    margin-left: 14%;
}

/*home tablet */
@media (min-width: 768px){
    section.main{
        display: flex;
        flex-direction: column;
        
    }
    section.bloque_principal{
        display: flex;
        justify-content: space-between;
       
        
    }
    .subtitulos i{
        display: none;
    }
    div{
      display: flex; 
      flex-direction: row; 
    }
    .bloque_principal section{
        margin: 2%;
    

    }
    section.bloque_izq {
    }
    .main section{
       margin: 4%
    }
}