


.body-register{
  background-color: rgba(22, 25, 28, 1);
  font-family: Arial, sans-serif;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;

}

.fa-bars {
  display: none;
}



.logo{
    width: auto;
    margin-right: 10%;
}

img{
    width: 100%;
}

.login-img {
  width: 20%;
  
}

.login-container h1 {
  padding: 0%;
  margin: 0%;
  margin-bottom: 5%;
  font-size: 24px;
  color: #c1c1c1;
}

.login-container {
  height: 100%;
  background-color: rgba(22, 25, 28, 1);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
  margin-top: 30px;
  text-align: center;

  display: flex;
  align-items: center;
}

.form-registro{
  
  margin: auto;
}

.form-group {
  font-size: 14px;
  margin-bottom: 20px;
  list-style: none;
  text-decoration: none;
}

.form-group a:hover {
  color: #ffffff;
}

.form-group2 a {
    font-size: 14px;
    display: inline;
    color: #777777;
    text-decoration: none;
  
}
.form-group2{
    margin-bottom: 20px;
    margin-right: 90px;
}

.password-container {
  position: relative;
}

.eye-icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

label {
  font-size: 12px;
  text-align: left;
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #cfcece;
}

input {
  color: #ffffff;
  width: 100%;
  padding: 14px;
  box-sizing: border-box;
  background-color: rgba(30, 33, 38, 1);
  border: none;
  border-radius: 5px;
}

input:hover {
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
}

.eye-icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  color: #777777;
}

button {
  width: 100%;
  padding: 14px;
  background-color: rgba(30, 33, 38, 1);
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
}

h6 {
  color: #777777;
  
}

h4{
    font-size: 14px;
    margin-bottom: 5px;
    color: #777777;
}

h5{
    font-size: 12px;
    margin-top: 5px;
    color: #ffffff;
}

.terminos-condiciones{
    font-size: 15px;
}

.terminos{
    color: white;
}

div.social-buttons {
  position: relative;
  display: flex;
  align-items: center;
}

.fa-facebook {
  position: absolute;
  color: #ffffff;
  margin-left: 60%;
  font-size: 14px;
}

.fa-google {
  position: absolute;
  color: #ffffff;
  margin-left: 14%;
  font-size: 13px;
}

.social-buttons button {
  background-color: rgba(30, 33, 38, 1);
  margin: 0px 10px;
}

.check {
    display: inline-block;
    
}

.crear-cuenta{
    background-color: rgba(57, 105, 252, 1);
}


@media (max-width: 431px) {
  .login-container {
  box-shadow: none;
  
  }

  .fa-facebook {
    margin-right: auto;
    font-size: 15px;
  }

  .fa-google {
    margin-left: 12%;
    font-size: 14px;
  }
  
  .logo{
    margin-left: 80%;
    margin-top: -150%;
    position: absolute;
    display: inline-block;
    width: 45px;
   
  }
  .form-group2{
    margin-bottom: 20px;
    margin-right: auto;
}
}


@media (max-width: 362px) {
    .login-container {
    box-shadow: none;
    }
  
    .fa-facebook {
        margin-left: 57%;
        font-size: 15px;
      }
    
      .fa-google {
        margin-left: 39%;
        font-size: 14px;
      }
    
      .social-buttons button {
        display: none;
      }
    
  
    .logo{
      margin-left: 73%;
      margin-top: -200%;
      position: absolute;
      display: inline-block;
      width: 45px;
     
    }
    .form-group2{
      margin-bottom: 20px;
      margin-right: auto;
  }
  }




