*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.carrousel{
  width: 100%;
}

.conteCarrousel{
  width: 100%;
  height: 300px;
  overflow: hidden;
}

.itemCarrousel{
  position: relative;
  width: 100%;
  height: 100%;
}

.itemCarrouselTarjeta{
  width: 100%;
  height: 100%;
}

.itemCarrouselArrows{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%; 
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px; 
}

.itemCarrouselArrows > i:hover {
  cursor: pointer;
}

#itemCarrousel-1{
  
  background-color: rgb(226, 50, 50);
}

#itemCarrousel-2{
  background-color: rgb(50, 200, 226);
}

#itemCarrousel-3{
  background-color: rgb(200, 226, 50);
}

.conteCarrouselController{
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.conteCarrouselController > a{
  text-decoration: none;
  font-size: 2em;
  color: grey;
}

.itemCarrouselArrows > a > i{
  color: white;
}


.imagen-pequena {
  width: 100%; 
  height: 100%;
}

.imagen-medio {
  width: 100%; 
  height: 140%;
}
.imagen-grande{
  width: 100%; 
  height: 100%;
}
body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.contenedor-cards {
display: flex;  
 margin: 30px;
 padding: 20px;
 border: 2opx;
 
}

.card-item {
  text-align: center;
 
}

.card-item p {
 flex-direction: row;
 justify-content: space-between;
}

.card-item button {
  border-radius: 100px;
  background-color: #080000;
  color: white;
}
.card-item img {
  width: 200px;
  height: 220px;
  margin-right: 20px;
  
}

.card-img {
  display: flex;
}

.info {
  display: flex;

 
}


footer {
  background-color: #080000;
  padding: 20px;
  text-align: center;
}

footer a {
  margin: 0 10px;
  color: #faf8f8;
  text-decoration: none;
}

@media screen and (max-width: 500px) {

  .carrousel{
    width: 100%;
  }

  .conteCarrousel {
    height: 150px;
  }
  .itemCarrouselArrows {
    padding: 10px;
  }

  .imagen-medio {
    height: 120%; 
  }

  .contenedor-cards {
    flex-direction: column;
    align-items: center;
  }

  .card-item {
    width: 80%; 
    margin-bottom: 20px;

  .card-img img {
    width: 100%;
    height: auto;
    margin-right: 0;
  }
}

.itemCarrouselTarjeta video {
  width: 100%;
  height: 100%;
}
.banner {
 display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: space-between;
  padding: 20px;
}

.envio-gratis, .garantia, .contacto {
  text-align: center;
  margin: 0 10px;
}

.envio-gratis img, .garantia img, .contacto img{
  width: 40px;
  height: auto;
}

@media screen and (min-width: 1024px) {

  .carrousel{
    width: 100%;
  }
  
  .conteCarrousel{
    width: 100%;
    height: 300px;
    overflow: hidden;
  }
  
  .itemCarrousel{
    position: relative;
    width: 100%;
    height: 100%;
  }
  
  .itemCarrouselTarjeta{
    width: 100%;
    height: 100%;
  }
  
  .itemCarrouselArrows{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%; 
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px; 
  }
  
  .itemCarrouselArrows > i:hover {
    cursor: pointer;
  }
  
  #itemCarrousel-1{
    
    background-color: rgb(226, 50, 50);
  }
  
  #itemCarrousel-2{
    background-color: rgb(50, 200, 226);
  }
  
  #itemCarrousel-3{
    background-color: rgb(200, 226, 50);
  }
  
  .conteCarrouselController{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
  }
  
  .conteCarrouselController > a{
    text-decoration: none;
    font-size: 2em;
    color: grey;
  }
  
  .itemCarrouselArrows > a > i{
    color: white;
  }
  
  
  .imagen-pequena {
    width: 100%; 
    height: 100%;
  }
  
  .imagen-medio {
    width: 100%; 
    height: 140%;
  }
  .imagen-grande{
    width: 100%; 
    height: 100%;
  }
  body {
    font-family: 'Roboto', sans-serif; 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .contenedor-cards {
   margin: 30px;
   padding: 20px;
   border: 2opx;
    display: flex;
  
   
   
    
  }
  
  .card-item {
    text-align: center;
   
  }
  
  .card-item p {
   flex-direction: row;
   justify-content: space-between;
  }
  
  .card-item button {
    border-radius: 100px;
    background-color: #080000;
    color: white;
  }
  .card-item img {
    width: 200px;
    height: 220px;
    margin-right: 20px;
    
  }
  
  .card-img {
    display: flex;
  }
  
  .info {
    display: flex; 
   
  }
  
  
  footer {
    background-color: #080000;
    padding: 20px;
    text-align: center;
  }
  
  footer a {
    margin: 0 10px;
    color: #faf8f8;
    text-decoration: none;
  }
  
  
  .banner {
   
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-between;
    padding: 20px;
  }
  
  .envio-gratis, .garantia, .contacto {
    text-align: center;
    margin: 0 10px;
  }
  
  .envio-gratis img, .garantia img, .contacto img{
    width: 40px;
    height: auto;
  }

}
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
 

}