<!-- Head -->
<%- include("./partials/head.ejs") %>
<!-- Header -->
<%- include("./partials/header.ejs")%>
<body class="body_about">
  
     <h1 class="titulo_about">Quienes Somos</h1>
  
  <div class="descripcion">
     <h5>Phonestore fue fundada en el año 1992 en Buenos Aires, donde comenzó a dar sus primeros pasos como una tienda de artículos de telefonia, teniendo desde sus inicios muy claros los objetivos, en donde la prioridad siempre fue generar con nuestros clientes un vínculo de gran calidad humana acompañado de las últimas novedades tecnológicas y los mejores precios del mercado. Con el transcurrir de los años, no solo fuimos creciendo y ampliando el catálogo de marcas y productos, sino que también fuimos pioneros en el canal de venta E-commerce, el cual desarrollamos con mucho esfuerzo y dedicación.</h5>
  </div>
</body>



<!-- Footer -->
<%- include("./partials/footer.ejs")%>
