<!-- Head -->
<%- include("./partials/head.ejs") %>
<!-- Header -->
<%- include("./partials/header.ejs")%>
<body>
  
     <h1 class="titulo_about">Quienes Somos</h1>
  
  <div class="descripcion">
     <h3>Phonestore fue fundada en el año 1992 en el corazón del barrio de Caballito, donde comenzó a dar sus primeros pasos como una tienda de artículos de computación, teniendo desde sus inicios muy claros los objetivos, en donde la prioridad siempre fue generar con nuestros clientes un vínculo de gran calidad humana acompañado de las últimas novedades tecnológicas y los mejores precios del mercado. Con el transcurrir de los años, no solo fuimos creciendo y ampliando el catálogo de marcas y productos, sino que también fuimos pioneros en el canal de venta E-commerce, el cual desarrollamos con mucho esfuerzo y dedicación.
        Hoy 30 años después, podemos dar fe que todos nuestros objetivos han sido logrados con creces, convirtiéndonos gracias a ustedes en un referente de la industria informática. Fruto de este esfuerzo hemos sido galardonados a nivel internacional en 3 oportunidades. El primer premio fue otorgado en el año 2014 por Marcos Galperin CEO y fundador de Mercado Libre en carácter de “Mejor Vendedor del Año” de toda la región. El segundo galardón es el “BID Quality Award” otorgado en la cuidad Europea de Frankfurt en el año 2017 por José E. Prieto presidente y CEO de B.I.D (Business Initiative Directions) organización con sede en Madrid que premia a las empresas por alcanzar estándares de calidad total en todas sus áreas, la excelencia en el liderazgo, la innovación y el desarrollo continuo. El tercero premio "The Bizz Award"  otorgado en el 2019 en San Francisco, California por Jesus J. Moran, CEO de World Confederation of Businesses, en reconocimiento a la excelencia empresarial en el área E-commerce. Estos reconocimientos no hacen más que alentarnos a seguir mejorando y creciendo día a día para que cada venta, sea una experiencia genial, única y satisfactoria para todos nuestros clientes.</h3>
  </div>
</body>



<!-- Footer -->
<%- include("./partials/footer.ejs")%>
