<!-- Head -->
<%- include("../partials/head.ejs") %>
<!-- Header -->
<%- include("../partials/header.ejs")%>

<div>
    <h1>Quienes Somos</h1>
</div>




<!-- Footer -->
<%- include("../partials/footer.ejs")%>
