<!-- Head -->
<%- include("./partials/head.ejs") %>
<!-- Header -->
<%- include("./partials/header.ejs")%>
<body class="body_about">
  
     <h1 class="titulo_about">Consultas Frecuentes</h1>
  
  <div class="descripcion">
     <h4>-¿Qué formas de pago puedo aprovechar para realizar mi compra?</h4>
     <h5>Aceptamos todos los medios de pago, tarjetas de credito, debito y efectivo en nuestro local</h5>
     <h4>-¿Tienen una tienda física también??</h4>
     <h5>Nuestro local se encuentra ubicado en Av. Los Aromos 2525, Pilar, Buenos Aires</h5>
     <h4>-¿Como sé que mi compra está protegida al momento del pago?</h4>
     <h5>Trabajamos bajo los estándares de seguridad y prevención de fraude de TIENDANUBE y del servicio que brindan las plataformas de pago.</h5>
     <h4>-¿Cuál es el costo de envío?</h4>
     <h5>El costo de envío será mostrado en base al total de la compra y ubicación, en el checkout, en el momento previo a la compra.</h5>
     <h4>-¿Cómo se realizan los envíos?</h4>
     <h5>Trabajamos con: CORREO ARGENTINO</h5>
     <h4>-¿Dónde puedo recibir mi pedido?</h4>
     <h5>Realizamos envíos a todo el país.</h5>
     <h4>-¿Cuánto tarda en llegar el pedido?</h4>
     <h5> En general la demora se encuentra entre 3 y 7 días hábiles luego de acreditado el pago.</h5>
     <h4>-¿Cuál es el plazo para realizar un cambio?</h4>
     <h5>Puedes solicitar un cambio hasta 5 días luego de realizada la compra.</h5>
     <h4>-¿Cual es la garantia de los productos?</h4>
     <h5>Los celulares Samsung tienen 1 año de garantia y se deberá adjuntar la factura de compra para registrar el producto a la garantia. Ponte en contacto con el fabricante al 0800-555-7267 y registrarán tu producto, luego depende la zona donde te encuentres, pasarán a través de Correo Andreani a retirar sin cargo por tu domicilio el producto y derivarlo al servicio técnico. Normalmente la demora para retorno de tu equipo reparado es 30 días.</h5>
     <h4>-¿Qué cubre mi garantia?</h4>
     <h5>La garantia cubre desperfectos o fallas de fabrica, no cubre software, problemas de humedad, caidas y/o golpes. Pero eso lo determina el Servicio Técnico que te fué asignado, no depende de Phonestore.</h5>
  </div>
</body>



<!-- Footer -->
<%- include("./partials/footer.ejs")%>