.body-cart{
    margin: 0;
            padding: 0;
            display: flex;
            flex-direction: column;
            min-height: 100vh;
}
.main-cart{
    flex: 1;
}
.mis_productos {
    max-width: 800px;
    margin: 0 auto;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-top: 3%;
  }
  .mis_productos h3{
    text-align: center;
  }
  .mis_productos form{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .mis_productos .textp{
    text-align: center;
  }

  .total p{
    text-align: center;
  }
  /* Tabla de productos en el carrito */
.cart-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
  }
  
  .cart-table th,
  .cart-table td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    color: #333;
  }
  
  .cart-table th {
    font-weight: bold;
  }
  .mis_productos a{
    background-color: #ff6347;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 5px;
    
    
  }
  .btn-volver-inicio{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  /* Estilos para los botones de eliminar */
  .remove-single-btn,
  .remove-all-btn {
    background-color: #ff6347;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 5px;
  }
  
  .remove-single-btn:hover,
  .remove-all-btn:hover {
    background-color: #d9534f;
  }

  .remove-all-btn{
    margin-top: 15px;
  }

  .comprar-mas{
    background-color: #ff6347;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 5px;
    margin-top: 15px;
    margin-left: 20px;
    text-align: center;
 
  }

  .comprar-mas:hover{
    background-color: #d9534f;
  }
  
  
  .resumen-producto {
    font-size: 18px;
    margin-bottom: 10px;
    color: #333; 
  }
  
  .total {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: right;
    border-radius: 5px;
  }
  
  /* Estilos para el mensaje cuando no hay productos en el carrito */
  .textp {
    font-style: italic;
    color: #888;
  }

  @media (max-width: 768px){
    .table thead{
        display: none;

    }

    .table, .table tbody, .table tr, .table td{
        display: block;
        width: 100%;
    }
    .table tr{
        margin-bottom: 15px;
    }
    .table tbody tr td{
        text-align: right;
        padding-left: 50%;
        position: relative;
    }
    .table td::before{
        content:attr(data-label);
        position: absolute;
        left: 0;
        width: 50%;
        padding-left: 15px;
        font-weight: 600;
        font-size: 14px;
        text-align: left;
    }

    .mis_productos .formProduct{
        display: block;
    }
    .comprar-mas{
      margin-left: 0;
    }
    .form2{
      display: flex;
      flex-direction: column;
      
    }
    
  }