.footer-container {
    color: rgb(216, 216, 216);
    background: linear-gradient(135deg, rgb(20, 23, 25) 0%, rgb(33, 38, 43) 200%);
    text-align: center;
    font-size: 11px;
}


.footer-container a {
    display: block;
    color: rgb(216, 216, 216);
    text-decoration: none;
    transition: color 0.3s; /* Transición suave para el cambio de color */
}

.footer-container a:hover {
    color: white; /* Cambiar el color a blanco al pasar el mouse */
}



.footer-container div{
    /* margin-top: 30px; */
    padding: 10px;
    
}

.footer-hijos:nth-child(3) p {
    margin-top: 10px; 
  }


@media(min-width:768px){
    .footer-container{
        display: flex;
        text-align: center;
    }

    .footer-hijos{
        margin-left: auto ;
        margin-right: auto;
        
    }
    .footer-container div{
        margin-top: 30px;
        padding-top: 10px;
        padding-bottom: 30px;
        
    }

    .footer-hijos:last-child{
        margin-top: 19px;

    }
    
    
      
    
}