<!-- Head -->
<%- include("../partials/head.ejs") %>
  
<body>

<!-- Header -->  
<%- include("../partials/header.ejs")%>

    <div class="contenedor_noRsults">
        <h1 class="noHayProductos"> No se encontraron resultados que coincidan con la búsqueda</h1>
    </div>

    <!-- Footer -->
<%- include("../partials/footer.ejs")%>
</body>
</html>