<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <img src="/images/imageHome/<%= producto.imagenes_productos[1].url_de_imagen %>" alt="<%= imagen%>" class="dimensionar_imagen_celu_principal">
    </div>
</body>
</html>