<!-- Head -->
<%- include("../partials/head.ejs") %>
<body class="ordenar_body">
  
<!-- Header -->
<%- include("../partials/header.ejs")%>
   
   <main class="fondo">
      <div class="titulo_marca_modelo titulo_desktop">
          
              <h3 >SAMSUNG GALAXY S20 FE 5G</h3>
              <h4>SM-G781VLBLARO</h4>
       
      </div>
    
      <article class="celular_frontal desktop_celular_frontal">
        
        <img src="/images/productDetail_img/galaxy-s20-fe-5g-frente.svg" alt="vista frontal" class="dimensionar_imagen_celu_principal">
      
      </article>
   
      <article class="caja_imagen_celu_frente_dorso_lateral desktop_celu_frente_dorso_lateral">
        <img src="/images/productDetail_img/galaxy-s20-fe-5g-frente-min.svg" alt="vista frontal">
        <img src="/images/productDetail_img/galaxy-s20-fe-5g-dorso.svg" alt="vista dorsal">  
        <img src="/images/productDetail_img/galaxy-s20-fe-5g-lateral.svg" alt="vista lateral">
      </article>
      
      <div class="formulario_opcion_color">
        
        <h5 class="texto_color">COLOR</h5>
        
        <form action="" method="get"></form>
        <input type="radio" name="opcion color" class="circulo_tamaño circulo_purpura"><input type="radio" name="opcion color" class="circulo_tamaño circulo_negro">
      
      </div>

        <snap class="aumentar_tamaño_descripcion_del_equipo desktop_posicion_inferior_descripcion_h5">
             <h5 class="descripcion_del_equipo desktop_descripcion_h5">Samsung Galaxy S20FE,  es parte de la familia Galaxy, gran diseño, camara frontal excelente con 32mpx, y su procesador SNAPDRAGON© 
            potente, para jugar, navegar, disfrutar de todo el entretenimiento</h5>
        </snap>
    
        <snap class="snap_h6 desktop_snap_h6">
             <h6 class="caracteristicas desktop_caracteristicas">ALMACENAMIENTO 128GB</h6>
             <h6 class="caracteristicas desktop_caracteristicas">PROCESADOR OCTACORE SNAPDRAGON 865</h6>
             <h6 class="caracteristicas desktop_caracteristicas">PANTALLA 6.5” FHD</h6>
             <h6 class="caracteristicas desktop_caracteristicas">CAMARA FRONTAL 32MPX</h6>
        </snap>

      <div class="separar_centrar_boton_submit desktop_botones_submit">
        <form action="" method="get"></form>
        <button type="submit" class="boton_comprar">COMPRAR</BUtton>
        
        <form action="" method="get"></form>
        <a href="/productCart"><button type="submit" class="boton_agregar">AGREGAR AL CARRITO</BUtton></a>
      </div>
   
   </main>

<!-- Footer -->   
   <%- include("../partials/footer.ejs")%>

</body>
</html>
