<!-- Head -->
<%- include("../partials/head.ejs") %>

<!-- Header -->
<%- include("../partials/header.ejs") %>

<body class="body-createProduct">
   
    <div class="login-container-createProduct">
      
       
        <div class="form-registro-createProduct">
            <h1>Crear Producto</h1>

            <form method="POST" action="/products/productCreate_form" enctype="multipart/form-data">
          
              
                <div class="form-group-createProduct">
                    <label class="label-general-createProduct" for="name">Nombre del Producto:</label>
                    <input class="input-general-createProduct" type="text" id="name" name="name" required>
                </div>         

                <div class="form-group-createProduct">
                    <label class="label-general-createProduct" for="image">Imagen:</label>
                    <input class="input-general-createProduct" type="file" id="image" name="image" required>
                </div>

                <div class="form-group-createProduct">  
                    <label class="label-general-createProduct" for="category">Categoria</label>                 
                    <select class="input-general-createProduct" >
                        <option value="0">Seleccione una marca</option>
                        <option value="Samsung">Samsung</option>
                        <option value="Motorola">Motorola</option>
                        <option value="LG">LG</option>
                        <option value="Xiaomi">Xiaomi</option>
                        <option value="Iphone">Iphone</option>
                    </select>
                </div>

                <div class="form-group-createProduct">
                    <label class="label-general-createProduct" for="price">Precio:</label>
                    <input class="input-general-createProduct" type="number" id="price" name="price" required>
                </div>

                <div class="form-group-createProduct">
                    <label class="label-general-createProduct" for="description">Descripción:</label>
                    <textarea class="input-general-createProduct" id="description" name="description"  cols="30" 
                    rows="10" required></textarea>
                </div>

                <button class="createProduct button-createProduct" type="submit">Crear Producto</button>
            </form>
        </div>
    </div>
    <!-- Footer -->
<%- include("../partials/footer.ejs") %>
</body>

</html>
